/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  position: relative;
  color: #485360;
  overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  
}
